# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 <br>some of the popular languages that Data Scientists use are:
    <ul>
    <li>1.R language</li>
    <li>2.python</li>
    <li> 3.sql</li>
    </ul>

<br>Some of the commonly used libraries used by Data Scientists include:
<ul>
    <li>Tensor flow</li>
    <li>Numpy</li>
    <li>Keras</li>
    <li>SciPy</li>
    <li>Pandas</li>
</ul>

<table>
   <thead>
      <tr>
         <th>Data Science Tools</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>RStudio</td>
      </tr>
      <tr>
         <td>Apache spark</td>
      </tr>
      <tr>
        <td>tensor flow</td>
      </tr>
   </tbody>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [26]:
#This will convert 200 minutes to hours by diving by 60
c=200/60
print(c,"hours")

3.3333333333333335 hours


<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>commonly used libraries used by Data Scientists</li>
    <li>Data science tools</li>
</ul>

## Author
MOHAMMED IRFAN